*       text=auto
/.*     export-ignore
/*.js   export-ignore
/*.json export-ignore
/*.lock export-ignore
/*.log  export-ignore
/*.md   export-ignore
/*.mjs  export-ignore
/*.neon export-ignore
/*.sh   export-ignore
/*.xml  export-ignore
/*.yml  export-ignore
/+      export-ignore
