includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  bootstrapFiles:
    - +/phpstan.php
    - autoload.php
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  ignoreErrors:
    -
      identifier: missingType.iterableValue
    -
      identifier: missingType.generics
  level: 5
  paths:
    - plugin
  reportUnmatchedIgnoredErrors: false
