@import "../node_modules/@highlightjs/cdn-assets/styles/atom-one-dark.min.css";

.glbb-close::before {
  content: "\f335";
  font-size: 26px;
  margin: -3px 3px 3px -3px;
}
.glbb-globals::before {
  content: "\f319";
  margin: 1px -1px -1px 1px;
}
.glbb-toggle::before {
  content: "\f340";
  margin-right: 1px;
}
.glbb-hooks::before { content: "\f469"; }
.glbb-console::before { content: "\f534"; }
.glbb-filters::before { content: "\f536"; }
.glbb-queries::before { content: "\f17e"; }
.glbb-profiler::before { content: "\f311"; }
.glbb-templates::before { content: "\f116"; }

body.blackbar #adminmenu {
  margin-bottom: 46px;
}
@media screen and (min-width: 783px) {
  body.blackbar #adminmenu {
    margin-bottom: 32px;
  }
}

#glbb {
  --glbb-color-active: #72aee6;
  --glbb-color-error: #f44336;
  --glbb-color-warning: #ffc107;
  --glbb-color-darker-border: rgba(35,40,45,.5);
  --glbb-color-darker: #1d2327;
  --glbb-color-dark: #32373c;
  --glbb-color-icon: rgba(240,245,250,.6);
  --glbb-color-light: #ccc;
  --glbb-color-lighter: #f0f0f1;
  --glbb-font-mono: "Operator Mono", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  --glbb-font-sans: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  font-family: var(--glbb-font-sans);
  height: 32px;
  color: var(--glbb-color-light);
  background-color: var(--glbb-color-darker);
  z-index: 999999;
  direction: ltr;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

#glbb .hljs {
  background-color: var(--glbb-color-dark);
}
#glbb.glbb-mini {
  width: 36px;
}
#glbb.glbb-mini .glbb-toggle::before {
  transform: rotate(180deg);
}
#glbb.glbb-mini .glbb-panel-links a:not(.glbb-toggle) {
  display: none;
}

#glbb .glbb-hidden {
  display: none !important;
}

#glbb .glbb-panel {
  background-color: var(--glbb-color-dark);
  bottom: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-variant-numeric: tabular-nums;
  left: 0;
  max-height: calc(100% - 32px);
  overflow: auto;
  overscroll-behavior: contain;
  position: fixed;
  right: 0;
  -webkit-overflow-scrolling: touch;
}
#glbb .glbb-panel a {
  color: var(--glbb-color-active);
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
#glbb .glbb-panel a:focus {
  outline: none;
  text-decoration-style: dotted;
}
#glbb .glbb-panel .glbb-info {
  color: var(--glbb-color-lighter);
  font-weight: 600;
}
#glbb .glbb-panel :is(.glbb-warning) {
  color: var(--glbb-color-warning);
}
#glbb .glbb-panel :is(.glbb-alert,.glbb-critical,.glbb-emergency,.glbb-error) {
  color: var(--glbb-color-error);
}

#glbb .glbb-panel-links {
  display: flex;
  flex: 1;
}
#glbb .glbb-panel-links a {
  align-items: center;
  background-color: var(--glbb-color-darker);
  box-sizing: border-box;
  color: var(--glbb-color-lighter);
  display: flex;
  line-height: 1;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--glbb-font-sans);
  gap: 6px;
  height: 32px;
  line-height: 32px;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0 7px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  width: 40px;
}
#glbb .glbb-panel-links div {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
#glbb .glbb-panel-links span {
  display: none;
}
#glbb .glbb-panel-links a[data-info]::after {
  color: var(--glbb-color-light);
  font-size: 12px;
}
#glbb .glbb-panel-links a[data-info].glbb-warning::after {
  color: var(--glbb-color-warning);
}
#glbb .glbb-panel-links a[data-info].glbb-error::after {
  color: var(--glbb-color-error);
}
@media screen and (min-width: 401px) {
  #glbb .glbb-panel-links a {
    width: 44px;
  }
}
@media screen and (min-width: 601px) {
  #glbb .glbb-panel-links a {
    width: auto;
  }
  #glbb .glbb-panel-links a.glbb-console::after {
    content: attr(data-info);
  }
  #glbb .glbb-panel-links span {
    display: inline;
  }
}
@media screen and (min-width: 783px) {
  #glbb .glbb-panel-links a.glbb-hooks::after,
  #glbb .glbb-panel-links a.glbb-queries::after {
    content: attr(data-info);
  }
}
#glbb .glbb-panel-links a::before {
  color: var(--glbb-color-icon);
}
#glbb .glbb-panel-links a:focus {
  box-shadow: none;
  outline: none;
}
#glbb .glbb-panel-links a.glbb-active,
#glbb .glbb-panel-links a:hover {
  background-color: var(--glbb-color-dark);
  color: var(--glbb-color-active);
}
#glbb .glbb-panel-links a.glbb-active::before,
#glbb .glbb-panel-links a:hover::before {
  color: var(--glbb-color-active);
}
#glbb .glbb-panel-links a.glbb-close:hover,
#glbb .glbb-panel-links a.glbb-close:hover::before {
    color: #e00;
}

#glbb pre,
#glbb code {
  background-color: var(--glbb-color-dark);
  background-image: none;
  border: none;
  color: var(--glbb-color-light);
  font-family: var(--glbb-font-mono);
  font-size: 13px !important;
  line-height: 1.5;
  margin: 0;
  padding:0;
  white-space: pre;
}

#glbb form {
  background-color: var(--glbb-color-darker);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  left: 0;
  line-height: normal;
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
}
#glbb label {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: var(--glbb-font-sans);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  gap: .5em;
  margin: 0;
  padding: 0;
}
#glbb input[type=checkbox] {
  appearance: none;
  background-color: var(--glbb-color-light);
  background-origin: border-box;
  border-radius: 0;
  border-width: 0;
  display: inline-block;
  flex-shrink: 0;
  height: 16px;
  margin: 0;
  padding: 0;
  user-select: none;
  vertical-align: middle;
  width: 16px;
}
#glbb input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%2332373c%27%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-size: 20px;
}
#glbb input[type="checkbox"]:checked::before,
#glbb input[type="checkbox"]:checked::after {
  display: none;
}
#glbb input[type=text],
#glbb select {
  background-color: var(--glbb-color-dark);
  border-radius: 0;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--glbb-color-light);
  font-family: var(--glbb-font-sans);
  font-size: 13px;
  font-weight: 400;
  height: 24px;
  line-height: 18px;
  margin: 0;
  padding: 3px 10px;
  width: 100%;
}
#glbb input[type=text]::placeholder {
  color: var(--glbb-color-light);
  font-family: var(--glbb-font-sans);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  opacity: .5;
}
#glbb input[type=checkbox]:focus {
  box-shadow: 0 0 0 2px var(--glbb-color-dark), 0 0 0 3px var(--glbb-color-active);
  outline: none;
}
#glbb input[type=text]:focus,
#glbb select:focus {
  box-shadow: inset 0 0 0 1px var(--glbb-color-active);
  outline: none;
}
@media screen and (min-width: 480px) {
  #glbb input[type=text],
  #glbb select {
    flex: 1;
    max-width: 300px;
  }
}

#glbb table {
  background: none !important;
  border-collapse: collapse;
  border: none !important;
  color: var(--glbb-color-light);
  margin: 0 !important;
  table-layout: auto;
  text-align: left;
  text-shadow: none !important;
  width: 100%;
}
#glbb table td {
  background: transparent;
  border-width: 0;
  line-height: 1.5;
  padding: 10px 15px;
  vertical-align: top;
}


#glbb table.glbb-grid thead {
  position: sticky;
  top: 0;
  z-index: 2;
}
#glbb table.glbb-grid thead tr {
  background-color: var(--glbb-color-darker);
  padding: 10px 15px;
}
#glbb table.glbb-grid tbody {
  position: relative;
  top: -1px; /* hides the first tr border */
  z-index: 1;
}
#glbb table.glbb-grid tbody tr {
  border-top: 1px solid var(--glbb-color-darker-border);
}
#glbb table.glbb-grid tr {
  background-color: var(--glbb-color-dark);
  border: none;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  padding: 5px 15px;
}
#glbb table.glbb-grid tr th,
#glbb table.glbb-grid tr td {
  background: transparent;
  border: none;
  font-family: var(--glbb-font-sans);
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
#glbb table.glbb-grid tr th:first-child {
  text-align: left;
}
#glbb table.glbb-grid tr td.glbb-row-details {
  background-color: var(--glbb-color-darker-border);
  display: grid;
  grid-column: 1/-1;
  justify-content: flex-start;
  margin: 5px 0;
  padding: 10px 0;
  text-align: left;
  white-space: normal;
}
#glbb table.glbb-grid tr.glbb-row-collapsed td.glbb-row-details {
  display: none;
}
#glbb table.glbb-grid ol {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
}
#glbb table.glbb-grid li {
  margin: 0 0 0 3ch;
}
#glbb table.glbb-grid td.glbb-row-details li {
  margin-left: 5ch;
}
#glbb table.glbb-grid .glbb-row-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: -5px;
}
#glbb table.glbb-grid .glbb-row-toggle::before {
  transition: transform 150ms;
}
#glbb table.glbb-grid tr:not(.glbb-row-collapsed) .glbb-row-toggle::before {
  transform: rotate(90deg);
}

#glbb-console.glbb-panel {
  overflow: hidden;
}
#glbb-console > div {
  overflow: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
#glbb-console form {
  background-color: var(--glbb-color-dark);
  border-top: 1px solid var(--glbb-color-darker-border);
  bottom: 0;
  gap: 15px;
  padding: 10px 15px;
  position: sticky;
  z-index: 2;
}
#glbb-console table.glbb-grid tr {
  align-items: flex-start;
  grid-template-columns: 10ch 1fr;
}
#glbb-console table.glbb-grid tr td {
  white-space: normal;
}

#glbb-globals table.glbb-grid tr td.glbb-row-details {
  overflow: auto;
  padding: 10px;
}
#glbb-globals table.glbb-grid code,
#glbb-globals table.glbb-grid pre {
  background-color: transparent;
}

#glbb-hooks form {
  padding: 10px 15px 0;
  z-index: 1;
}
#glbb-hooks table.glbb-grid tr {
  align-items: center;
  grid-template-columns: 1fr repeat(4, minmax(100px, 10%));
}
#glbb-hooks table.glbb-grid tr th:not(:first-child),
#glbb-hooks table.glbb-grid tr td:not(:first-child,.glbb-row-details) {
  text-align: right;
}
#glbb-hooks table.glbb-grid td.glbb-row-details li {
  margin-left: 6.5ch;
}

#glbb-profiler table.glbb-grid tr {
  align-items: center;
  grid-template-columns: 1fr repeat(2, minmax(100px, 10%));
}
#glbb-profiler table.glbb-grid tr :is(th, td):not(:first-child) {
  text-align: right;
}

#glbb-queries form {
  padding: 10px 15px;
  z-index: 2;
}
#glbb-queries table.glbb-grid tr {
  align-items: flex-start;
  grid-template-columns: 80px 1fr;
}
